*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Josefin Slab', serif !important;
  font-weight: 700;
}

body {
  font-family: 'Josefin Slab', serif !important;
  font-weight: 700;
}

/* Colors */
.color-primary {
  background-color: #ECF2FF;
}

.color-primary-2 {
  background-color: #F9F9F8;
}

.color-secondary {
  background-color: #FFF4D2;
}

.button-color-primary {
  background-color: #865DFF;
}

/* Text */
.text-regular {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-m {
  font-size: 1.5rem; 
}

.text-l {
  font-size: 2.25rem; 
}

.text-xl {
  font-size: 2.5rem;
}

.text-xxl {
  font-size: 3.25rem;
}

.text-center {
  text-align: center;
}

/* margin */ 
.m-0 {
  margin: 0;
}

/* Flexbox */
.flexbox {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-spacearound {
  justify-content: space-around;
}

.flex-justify-spaceevenly {
  justify-content: space-evenly;
}

.flex-justify-spacebetween {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-align-spacearound {
  align-items: space-around;
}

.flex-align-spaceevenly {
  align-items: space-evenly;
}

.flex-align-spacebetween {
  align-items: space-between;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
