html, body {
  height: 400vh;
}

.main-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.home-page, .project-page, .skill-page, .contact-page {
  height: 100vh;
  position: relative;
}
/* and (max-width: 700px) */
@media (max-height:500px)  {
  html, body {
    height: auto;
  }

  .home-page, .project-page, .skill-page, .contact-page {
    height: auto;
    position: relative;
  }

  .rip-hole {
    display: none;
  }
}

/* Home */
.home-page {
  background: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #ffc587, #3f141e);
  
}
.nowrap {
  white-space: nowrap;
}
.dropdown {
  display: none
}

.main-nav {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: min(100px, 7vw);
  z-index: 2;
}

.main-nav a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}

.main-nav a:hover {
  border-bottom: solid 1px black;
}

.hero-section {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 4% 1fr;
  grid-template-rows: 40vh 40vh;
  row-gap: 20px;
}

.intro-1, .intro-2 {
  margin-left: clamp(0em, 20vw,5em);
  text-align: center;
  grid-column: 1 / 3;
}

.intro-1 {
  align-self: end;
  grid-row: 1 / 2;
}

.intro-2 {
  grid-row: 2 / 3;
}

.intro-2 span{
  display: block;
}

.astronaut {
  /* transform: scale(3); */
  grid-row:  1 / 3;
  grid-column: 3 / 4;

  /* height: clamp(600px, 50vw,900px); */
  height: 100%;
  width: 600px;
}

.hero-image {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

.rip-hole {
  display: block;
  bottom: 0;
  position: absolute;
  width: clamp(250px, 27vw ,330px);
  transform: translateX(4vw);
}


.saturn {
  height: 400px;
  width: 500px;
  margin-right: auto;
  margin-top: 5em;
  /* margin-left: -6em; */
}

.saturn img {
  height: 100%;
}


.svg-saturn {
  left: -100px;
  top: -50px;
 
  width: clamp(400px, 50vw, 659px);
  position: absolute;
  z-index: 1;
  transform: scale(0.8);
}

@media (max-width: 1070px) {
  .intro-1, .intro-2 {
    font-size: 2rem;
  }

  .astronaut {
    height: 100%;
    width: 100%;
    grid-column: 2 / 4;
    justify-self: start;
  }
}

@media (max-width: 700px) {
  .intro-1 h1 {
    font-size: 2rem;
  }
}

/* Projects */
.project-page {
  background-image: url(./assets/image/Penline.png);
  background-repeat: no-repeat;
  background-position: left;
}
.project-page h2 {
  margin: 0 30px 0 30px;
  padding: clamp(10px, 2vh ,0.5em) 0;
}

.project-container {
  justify-content: center;
  display: grid;
  grid-template-columns: 300px minmax(300px, 550px);
  grid-template-rows: 70vh;
  column-gap: 50px;
}



.project {
  margin: clamp(0, 1vh, 20px) 20px;
  display: flex;
  flex-direction: column;
}

.project > * {
  margin-right: 10px;
}

.project > a:hover {
  background-color: #865DFF;
  color: #fff;
  border: 2px solid #fff;
}

.project > a {
  text-decoration: none;
  color: #865DFF;
  align-self: end;
  margin-top: 10px;
  margin-right: 50px;
  padding: 0.5em 0.75em;
  border: 2px solid #865DFF;
  border-radius: 10px;
}


.page-2 {
  display: none;
  opacity: 0;
  transform: translateX('150px')
} 

.svg-rocket {
  grid-column: 1 / 2;
  height: clamp(500px, 85vh, 700px);
  width: 100%;
}

.svg-rocket-mobile {
  display: none;
}

.nextBtn {
  aspect-ratio: 1;
  border-radius: 1000px;
  background-color: #C94032;
  color: #fff;
  transform: rotateX(40deg) ;
  box-shadow: 0 5px 0 0 black;
  display: block;
  margin-inline: auto;
}

.nextBtn:active {
  transform: translateY(3px) rotateX(40deg);
  box-shadow: 0 2px 0 0 black;
}


@media (max-width: 700px) {
  .project-container {
    /* column-gap: 0; */
  }
  .project {
    margin: 5px;
  }

}
@media (max-width: 700px) {
  .project h3 {
    font-size: 1.5rem;
  }
  .project-container {
    grid-template-columns: 100px 1fr;
  }
}

@media (max-height:800px) and (max-width: 1000px){
  .project h3 {
    font-size: 1.5rem;
  }
  .project-container {
    justify-content: flex-start;
  }

}



/* Skills */
.skill-page {
  background-image: url("./assets/image/white-paper-crumpled-background.png");
  position: relative;
}

.background-blackhole {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 600px;

}

.pencil {
  position: absolute;
  /* height: 100vh; */
  width: clamp(700px,50vw, 900px);
  left: -300px;
  bottom: 0;
}

.pencil img {
  width: 90%;
  height: 80%;
}

.svg-meteor {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin-right: -100px;
  width: 300px;
  transform: rotateZ(20deg)
}

.background-blackhole img {
  display: block;
  margin-inline: auto;
}

.skill-page h2 {
  margin: 0 30px 0 30px;
  padding: clamp(10px, 2vh ,0.5em) 0;
}


.skill-category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 4em;
  row-gap: 10px;
}

.skill-title {
  grid-column: span 2;
}

.skill {
  width: 110px;
  height: 110px;
  /* background-color: #ffffff; */
  /* border: 2px solid black; */
  /* border-radius: 10px;
  box-shadow: 3px 3px 4px 0 #888888; */
  padding: 0.5em;
}

.skill img {
  width: 100%;
  height: 100%;
}

.svg-ufo {
  position: absolute;
  right: 5em;
  bottom: 5em;
  width: 500px;
}

.svg-ufo img {
  width: 100%;
  height: clamp(200px, 30vh ,350px);
}

.pug {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%) translateY(150px);
  width:300px;

  opacity: 0;
}

.pug canvas {
  width: 300px;
}


.text-display {
  position: absolute;
  bottom: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .skill-category {
    column-gap: 1em;
  }
}

@media (max-width: 800px) {
  .pencil {
    display: none;
  }
}

@media (max-width: 750px) {
  .skill {
    width: 75px;
    height: 75px
  }

  .svg-meteor {
    transform: None;
  }

  .svg-ufo {
    width: 500px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
  }
}

/* Contact Me */
.contact-page {
  background-image: url(./assets/image/bg_space_seamless.png);
}

.contact-page h2 {
  margin: 0 30px 0 30px;
  padding: clamp(10px, 2vh ,0.5em) 0;
  color: #ffffff
}

.contact-container {
  background-color: #ACBAD740;
  border-radius: 50px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75vh;
  justify-items: center;
  align-items: center;
  padding: 1em;
}

.contact-form span {
  text-align: center;
  display: block;
}

.contact-form {
  width: clamp(300px, 30vw, 500px);
  padding: 2em 1em; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 4px 0 #888888, -3px -3px 4px 0 #888888;
  border: solid 3px #3F3B6C
}

.contact-form input, .contact-form textarea {
  box-shadow: 2px 2px 4px 0 inset #c6c6c6;
}

.contact-form button {
  background-color: #865DFF !important;
}

.astro-blackhole {
  width: 80%;
 
}

.astro-blackhole img {
  height: 100%;
}

@media (max-width: 850px) {
  /* .contact-container {
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .astro-blackhole {
    grid-row: 2 / 3;
    width: 40%;
  }
  .contact-form {
    width: 90%;
  } */

  .astro-blackhole {
    display: none;
  }

  .contact-form {
  
    grid-column: 1 / 3;
  }

}
/* @media (max-width: 750px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .svg-astronaut-moon {
    order: 2;
    width: 50%;
    height: 25%;
  }
  .svg-astronaut-moon img {
  }
} */


/* Animation */
.project-container {
  opacity: 0;
  transform: translateY(150px);
}

.skill-category {
  opacity: 0;
  transform: translateY(150px);
}

.contact-container {
  opacity: 0;
  transform: translateY(150px);
}


/* Loading */
.noscroll {
  overflow: hidden;
}
.welcome-loading {
  text-align: center;
  z-index: 100;
}
.modal {
  height: 100vh;
}
.modal-background {
  background-color: #fff;
}
#loading-canvas {
  margin-inline: auto;
  display: block;
  position: relative;
  height:"500px";
  width: clamp(300px, 50vw ,500px);
  margin-top: -100px;
}

.container {
  margin: 15px auto;
  width: 300px;
  text-align: center;
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {	
  margin-top: -3px;
  height: 12px;
	background-color: #ee303c;  
  border-radius: 4px; 
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
  background-color: #FCBC51; 
  width: 100%; 
  background-image: linear-gradient(
        45deg, rgb(252,163,17) 25%, 
        transparent 25%, transparent 50%, 
        rgb(252,163,17) 50%, rgb(252,163,17) 75%,
        transparent 75%, transparent); 
  animation: progressAnimationStrike 3s;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}