@media screen and (max-width: 500px) {
  html, body {
    height: auto;
  }

  .main-container {
    width: 100%;
    height: auto;
  }

  .home-page, .project-page, .skill-page, .contact-page {
    height: auto;
    position: relative;
  }



  /* Home */
  .dropdown {
    display: block;
    position: fixed;
    right: 20px;
    height: 0;
    top: 50px;
    margin-left: auto;
    z-index: 5;
  }

  .dropdown button {
    display: block;
    margin-left: auto;
    margin-right: 30px;
  }

  .dropdown-menu {
    margin-top: 50px;
    transform: translateX(500px);
  }

  /* .dropdown-menu.is-active {
    margin-right: 0px;
  } */

  .main-nav {
    display: none;   
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-1 {
    align-self: center;
    margin: 0 auto;
    font-size: 2rem;
  }

  .intro-2 {
    order: 3;
    padding-bottom: 1.5em;
    margin: 0 auto;
    font-size: 3rem;
  }

  .astronaut {
    order: 2;
    width: 100%;
    padding: 0.5em;
  }

  .svg-saturn {
    left: -50px;
    top: 0;
    display: block;
    position: relative;
    width: 400px;
    height: auto;
    transform: 0;
  }

  .rip-hole {
    position: relative;
    margin-top: -100px;
    display: block;
    width: 70%;
    padding-left: 9em;
    padding-bottom: 2em;
    display: none
  }

  /* Projects */
  .project-page {
    background-position: 25% 50%;
  }
  .project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-1, .page-2 {
    display: flex;
    opacity: 1;
  }

  .project {
    text-align: center;
  }
  
  .project > a {
    margin: 20px auto;
  }

  .svg-rocket {
    display: none;
  }

  .svg-rocket-mobile {
    display: block;
  }

  .dropdown-trigger .button {
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 6px;
    padding-top: 8px;
  }

  .nextBtn {
    display: none;
  }


  /* Skills */
  .skill-container {
    display: flex;
    flex-direction: column;
  }

  .skill-category {
    column-gap: 0;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    padding-bottom: 2em;
    grid-template-columns: 1fr 1fr;
  }

  .skill {
    height: 100px;
    width: 100px;
  }
  
  .skill:nth-child(2n+3) {
    justify-self: start;
    margin-left : 10px;
  }

  .skill:nth-child(2n+2) {
    justify-self: end;
    margin-right: 10px;
  }

  .svg-ufo {
    position: relative;
    right: auto;
    bottom: auto;
    order: -1;
    width: 350px;
    margin: -50px auto 0 auto;
  }

  .svg-ufo img {
    display: block;
    margin-top: 0;
    position: relative;
  }

  .svg-meteor {
    position: relative;
    transform: None;
    margin-inline: auto;
  }
  
  .background-blackhole {
    min-width: 80vw;
  }

  .pug {
    position: relative;
    margin-top: -100px;
 
  }

  /* Contact Me */
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: auto;
  }

  .contact-form {
    width: 80%;
    order: -1;
    margin-top: 5em;
  }

  .astro-blackhole {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}



